
<div class="row">
        <section class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <img class="card-img-top img-fluid" ng-src="{{detail.img}}">
            <div class="card-block">
              <h5 class="card-title">{{detail.name}}</h2>
              <h5 class="card-subtitle">Topic : {{detail.topic}}</h5>
              <h5 class="card-text lifeStyle">Pages: {{detail.pages}}</h5>
              <h5 class="card-link" href="#">Description : {{detail.description}}</h5>
              <h5 class="card-link" href="#">Price: {{detail.price}}€</h5>
              <a href="#/">Back to main</a>
            </div><!-- card-block -->
        </section>
</div>